@model IEnumerable<OtelRezervasyon.Models.REZERVASYON> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    
}

<h2>Son 5 Rezervasyon</h2>

<table class="table table-bordered">
    <tr>
        <th>
            Müşteri Adı Soyadı
        </th>
        <th>
            Giriş Tarihi
        </th>
        <th>
            Çıkış Tarihi
        </th>
        <th>
           Tutar
        </th>
        <th>
            Rezervasyon Tarihi
        </th>
        <th>
           Oda Sayısı
        </th>
        <th>
           Oda Tipi
        </th>
        <th>
          Rezervasyon Durumu
        </th>
        <th>
          Ödeme Tipi
        </th>
    </tr>

@foreach (var item in Model) {
    var odaSayısı = item.ODASAYISI;
    var fiyat = item.ODATIPI.FIYAT;
    var ToplamTutar = odaSayısı * fiyat;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MUSTERI.ADI) 
            @Html.DisplayFor(modelItem => item.MUSTERI.SOYADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIRISTARIHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CIKISTARIHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ToplamTutar) TL
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REZERVASYONTARIHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ODASAYISI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ODATIPI.ADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REZERVASYONDURUM.ADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ODEMETIPI.ODEMEADI)
        </td>
    </tr>
}
</table>
