@model OtelRezervasyon.Models.ODA

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Oda Düzenle</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ODA</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ODAKAPASITEID, "ODAKAPASITE")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ODAKAPASITEID", String.Empty)
            @Html.ValidationMessageFor(model => model.ODAKAPASITEID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ODATIPID, "ODATIPI")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ODATIPID", String.Empty)
            @Html.ValidationMessageFor(model => model.ODATIPID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
